# Graded Challenge 3
## i. Introduction
Name : Darmawan Wijaya </br>
Class : FTDS - 002 </br>
Objective : To apply statistical concept on the dataset to find : </br>
1. Measure of Central Tendency
2. Measure of Variance
3. Confidence Interval
4. Hypothesis Testing

## ii. Importing Libraries
In this project, the libraries that we will use are pandas, numpy, scipy, matplotlib and seaborn

In [1]:
#The process of importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import t as t_func
from scipy.stats import norm
from scipy.stats import kurtosis
import random
%matplotlib inline
#Additional code to display the float as 3 decimal. Therefore the output will be easier to understood.
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## iii. Data Loading
The dataset used in this project are the kickstarter dataset which contain:
1. Kickstarter ID, Project name & Category
2. Currency
3. Fundraising Goal & Pledged
4. Deadline for crowdfunding
5. Current state/condition the project is in 
6. etc

The data are collected from Kickstarter Platform and can be found at https://www.kaggle.com/kemical/kickstarter-projects?select=ks-projects-201801.csv

In [2]:
#The process of data loading
df = pd.read_csv("GC3.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

## iv. Data Cleaning
The loaded dataset will be cleansed using the following steps:
1. Removing the rows which contain Null values
2. Removing the "ID" columns which we will not use in this project

In [3]:
#The process of dropping null values from dataset and dropping the ID as it will not be used in this project
kickstarter = df.dropna()
kickstarter.drop(['ID',], axis=1, inplace=True)

C:\Users\Wawan\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## v. Data Exploration
The cleaned data will be explored by using the following steps:
1. df.head(): To show the first 5 rows of the Dataframe.
2. df.info(): To show the quick overview of the dataset, which contain information about the index, column, non-null values and dtype of the dataframe
3. df.shape: To show the number of dimensions as well as the size in each dimension of the dataframe.
4. df.describe( ): To show the statistical summary for numerical columns present in the dataframe.

In [4]:
kickstarter.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.000,2015-08-11 12:12:28,0.000,failed,0,GB,0.000,0.000,1533.950
1,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.000,2017-09-02 04:43:57,2421.000,failed,15,US,100.000,2421.000,30000.000
2,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.000,2013-01-12 00:20:50,220.000,failed,3,US,220.000,220.000,45000.000
3,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.000,2012-03-17 03:24:11,1.000,failed,1,US,1.000,1.000,5000.000
4,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.000,2015-07-04 08:35:03,1283.000,canceled,14,US,1283.000,1283.000,19500.000

In [5]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374860 entries, 0 to 378660
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              374860 non-null  object
 1   category          374860 non-null  object
 2   main_category     374860 non-null  object
 3   currency          374860 non-null  object
 4   deadline          374860 non-null  object
 5   goal              374860 non-null  float64
 6   launched          374860 non-null  object
 7   pledged           374860 non-null  float64
 8   state             374860 non-null  object
 9   backers           374860 non-null  int64
 10  country           374860 non-null  object
 11  usd pledged       374860 non-null  float64
 12  usd_pledged_real  374860 non-null  float64
 13  usd_goal_real     374860 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 42.9+ MB

In [6]:
kickstarter.shape

(374860, 14)

In [7]:
kickstarter.describe()

,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,374860.000,374860.000,374860.000,374860.000,374860.000,374860.000
mean,49522.989,9750.538,106.688,7036.802,9120.899,45863.026
std,1189361.601,96010.938,911.710,78640.162,91319.694,1158767.373
min,0.010,0.000,0.000,0.000,0.000,0.010
25%,2000.000,31.000,2.000,16.980,31.000,2000.000
50%,5500.000,620.000,12.000,394.765,624.495,5500.000
75%,16500.000,4080.000,57.000,3034.425,4050.895,16000.000
max,100000000.000,20338986.270,219382.000,20338986.270,20338986.270,166361390.710

## vi. Measure of Central Tendency
A measure of central tendency is a summary statistic that represents the center point or typical value of a dataset. There are three main measures of central tendency:
1. Mean : the sum of the value of each observation in a dataset divided by the number of observations
2. Mode : the most commonly occurring value in a distribution
3. Median : the middle value in distribution when the values are arranged in ascending or descending order

In [8]:
#The process of calculating the mean of a dataset
kickstarter[kickstarter.describe().columns].mean()

goal               49522.989
pledged             9750.538
backers              106.688
usd pledged         7036.802
usd_pledged_real    9120.899
usd_goal_real      45863.026
dtype: float64

In [9]:
#The process of calculating the mode of a dataset
kickstarter[kickstarter.describe().columns].mode()

      goal  pledged  backers  usd pledged  usd_pledged_real  usd_goal_real
0 5000.000    0.000        0        0.000             0.000       5000.000

In [10]:
#The process of calculating the median of a dataset
kickstarter[kickstarter.describe().columns].median()

goal               5500.000
pledged             620.000
backers              12.000
usd pledged         394.765
usd_pledged_real    624.495
usd_goal_real      5500.000
dtype: float64

## vii. Measure of Variance
A measure of variability is a summary statistic that represents the amount of dispersion in a dataset. There are 4 most commonly used measurement of variability:
1. Range: the difference between the highest and lowest values of a dataset
2. Variance: the average squared difference of the values from the mean
3. Standard Deviation :  the standard or typical difference between each data point and the mean
4. Interquartile Range : the range of the middle half of a distribution

In [11]:
# The process of calculating the range of a dataset
num_columns = kickstarter.describe().columns
print(kickstarter[num_columns].max()-kickstarter[num_columns].min())

goal                99999999.990
pledged             20338986.270
backers               219382.000
usd pledged         20338986.270
usd_pledged_real    20338986.270
usd_goal_real      166361390.700
dtype: float64

In [12]:
# The process of calculating the variance of a dataset
kickstarter.var()

goal               1414581018455.966
pledged               9218100120.712
backers                   831215.351
usd pledged           6184275027.015
usd_pledged_real      8339286590.889
usd_goal_real      1342741824113.891
dtype: float64

In [13]:
# The process of calculating the standard deviation of a dataset
kickstarter.std()

goal               1189361.601
pledged              96010.938
backers                911.710
usd pledged          78640.162
usd_pledged_real     91319.694
usd_goal_real      1158767.373
dtype: float64

In [14]:
#The process of calculating Interquartile Range (IQR) of a dataset
IQR = kickstarter[num_columns].quantile(0.75) - kickstarter[num_columns].quantile(0.25)
IQR

goal               14500.000
pledged             4049.000
backers               55.000
usd pledged         3017.445
usd_pledged_real    4019.895
usd_goal_real      14000.000
dtype: float64

## Confidence Interval
Confidence Interval calculation for the Pledged variable using sample with (n) is 1000

In [15]:
sample_pledged=kickstarter['pledged'].sample(n=1000)

In [16]:
sample_pledged.mean()

8272.713049999998

In [17]:
C1,C2 = stats.norm.interval(alpha=0.95, loc=np.mean(sample_pledged), scale=stats.sem(sample_pledged)) 
print (C1)
print (C2)

4700.091487256059
11845.334612743938

There is a 95% chance that the confidence interval of [5.210, 14.973] contains the true population mean.

## viii. Hypothesis Testing
In this project, we will test the relationship between main_category and state of the kickstarter project
Thus we define that:
1. H0 : No relationship between main category and state
2. H1 : Exist relationship between main category and state

We will use the chi square test for the hypothesis testing

In [18]:
kick_group = kickstarter.groupby(['main_category','state']).count()[['goal','pledged']].reset_index()

In [19]:
kicks_status=kick_group.pivot(index="main_category",columns="state", values="pledged").fillna(0)
kicks_status.head(16)

state          canceled  failed  live  successful  suspended
main_category
Art                2222   14130   194       11510         96
Comics              842    4036    76        5842         23
Crafts              843    5703    76        2115         72
Dance               163    1235    18        2338         13
Design             4152   14814   305       10549        246
Fashion            2650   14181   250        5593        138
Film & Video       5744   32891   332       23612        117
Food               2209   15969   183        6085        153
Games              6199   16002   287       12518        219
Journalism          523    3136    31        1012         52
Music              3300   21696   281       24105        148
Photography         986    6384    48        3305         55
Publishing         3601   23113   299       12300         66
Technology         4715   20613   377        6433        424
Theater             608    3708    41        6534         21

In [20]:
chisq, pvalue, df, expected = stats.chi2_contingency(kicks_status)
print(f'Observed chi2: {chisq:.2f}')
print(f'p-value: {pvalue:.4f}')

Observed chi2: 21526.47
p-value: 0.0000

From the chi square test, we can see that the chi value is 30118.71 with the p value of 0.0000 </br>
Since the p value is lower than 0.05, therefore we reject the null hypothesis and conclude that there is relationship between main category variable and state variable

## ix. Conclusion
Inline with the objective to find : </br>
### 1. Measure of Central Tendency
    Mean : the sum of the value of each observation in a dataset divided by the number of observations. Calculated using the .mean() function
    Mode : the most commonly occurring value in a distribution. Calculated using the .mode() function
    Median : the middle value in distribution when the values are arranged in ascending or descending order. Calculated using the .median() function
### 2. Measure of Variance
    Range: the difference between the highest and lowest values of a dataset. Calculated by substracting max() value with the min() value.
    Variance: the average squared difference of the values from the mean. Calculated using the .var() function
    Standard Deviation :  the standard or typical difference between each data point and the mean. Calculated using the .std() function
    Interquartile Range : the range of the middle half of a distribution. Calculated by substracting the 75% quantile with the 25% quantile value
### 3. Confidence Interval
    Calculated for the pledged variable using the sample where n = 1000 and alpha = 95%. 
    The results : There is a 95% chance that the confidence interval of [5.210, 14.973] contains the true population mean.

### 4. Hypothesis Testing
    In this project, we will test the relationship between main_category variable and state variable of the kickstarter project
    Thus we define that:
    1. H0 : No relationship between main category and state
    2. H1 : Exist relationship between main category and state
    We will use the chi square test for the hypothesis testing
    From the chi square test, we can see that the chi value is 30118.71 with the p value of 0.0000
    Since the p value is lower than 0.05, therefore we reject the null hypothesis
    and conclude that there is relationship between main category variable and state variable